body {
    background-color: #f9f9f9;
    font-family: OpenSans, sans-serif;
    font-size: 13px;
}

.container {
    width: 1060px;
    margin: 0 auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}
.clear_fix:after{
    content: '';
    clear: both;
    display: block;
}
img {
    margin-top: 62px;
    margin-left: 45px;
}
/*Nav header begin*/
.nav {
    height: 40px;
    width: 966px;
    background-image: linear-gradient(to top, #444343 0%, #5e5e5e 100%);
    margin-top: 38px;
    margin-left: 46px;
}
.nav a{
    display: block;
    text-decoration: none;
    float: left;
    height: 40px;
    text-align: center;
    width: 100px;
    text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    transition: 0.2s all;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.nav a:hover{
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background-image: linear-gradient(to top, #2e2e2e 0%, #4a4a4a 100%);
}
.main{
    padding-left: 3px;
    }
.goods{
    margin-left: 41px
}
.about_us{
    margin-left: 36px
}
.cont{
    margin-left: 39px;
}
/*Nav header end*/
/*menu begin*/
.menu{
    margin-left: 45px;
    margin-top: 40px;
    float: left;
}
.menu a{
    display: block;
    text-decoration: none;
    width: 217px;
    height: 38px;
    background-color: white;
    border: 1px solid #c8c8c8;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: #656363;
    padding-left: 23px;
    transition: 0.2s all;
}
.menu a:hover{
    padding-left: 35px;
    padding-bottom: 4px;
    width: 205px;
    height: 34px;
    background-color: rgb(249,249,249);
}
/*menu end*/
/*content begin*/
.img{
    width: 676px;
    height: 398px;
    background-color: white;
    border: 1px solid #c8c8c8;
    float: left;
    margin-left: 47px;
    margin-top: 40px;
}
.bicycle{
    background:  url("../../../Desktop/git/homework3/img/image.png") top center no-repeat;
    width: 500px;
    height: 307px;
    margin-left: 89px;
    margin-top: 46px;
}
.text{
    float: right;
    margin-left: 358px;
    margin-top: 34px;
    color: #2c2c2c;
    font-weight: 400;
    line-height: 21px;
    margin-right: 25px;
}

.footer {
    height: 40px;
    width: 966px;
    background-color: white;
    background-image: linear-gradient(to top, #e1e1e1 0%, #e1e1e1 100%);
    margin-top: 59px;
    margin-left: 46px;
    float: left;
}
.footer a{
    text-decoration: none;
    float: left;
    height: 40px;
    text-align: center;
    color: #2c2c2c;
    font-weight: 400;
    line-height: 42px;
}
.footer a:hover {
   text-decoration: underline;
}
.footer p{
    color: #2c2c2c;
    font-weight: 400;
    line-height: 42px;
    float: right;
    margin-right: 29px;
}
#footer_main {
    margin-left: 24px;
}
#footer_goods {
    margin-left: 96px;
}
#footer_about_us {
    margin-left: 98px;
}
#footer_cont {
    margin-left: 94px;
}